*{

    margin:0;
    padding: 0;
    color: #0dcaf0;
    background-image: url("bg.jpg") ;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 25px;

}
#btn1,#btn2,#btn3{
    background-image: none;
}
h1{
    font-size: 45px;
}
html {

}
#info h1{
    margin-top: 15%;
}